<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/git-BEL_extractor-test/src/test/testBatch.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="test.testBatch"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="&quot;D:\huangxcwd\Data\all papers_biomedical\biomedical papers\\&quot; &quot;D:\GitHub\n-projects-ws-repo-nonegit\n-projects-ws-repo-nonegit\nonegit-BEL_extractor-test\output\resultOfTestingPDFs7\\&quot; &quot; &quot; &quot;C:\Users\huangxc\AppData\Roaming\Mozilla\Firefox\Profiles\bydnc2zp.20160118\zotero\Rule_INPUT\RuleMatcher.json&quot; &quot; &quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="git-BEL_extractor-test"/>
</launchConfiguration>
